/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    /* Переменные светлой темы */
    --text-color: #000;
    --bg-color: #fff;

    --like-button-color: #fff;
    --heart-color: #FF0000;
    --heart-contour-color: #000;
    --text-shadow-color: #fff;

    --from-left-color: #d3d3d3;
    --from-top-color: #e7e7e7;
    --to-bottom-color: #1a1a1a;

    --card-header-variation-font: 'wght' 700;
    --card-body-variation-font: 'wght' 400;
}

:root.theme-dark {
    /* Переменные темной темы */
    --text-color: #00CC14;
    --bg-color: #000;

    --like-button-color: #00CC14;
    --heart-color: #FF0000;
    --heart-contour-color: #00CC14;
    --text-shadow-color: #000;

    --from-left-color: #000;
    --from-top-color: #007f0c;
    --to-bottom-color: #004306;

    --card-header-variation-font: 'wght' 785, 'slnt' 0;
    --card-body-variation-font: 'wght' 465, 'slnt' 0;
}

/* Остальные стили */
@media (prefers-color-scheme: light) {
    :root {
        /* Дублируем переменные светлой темы */
        --text-color: #000;
        --bg-color: #fff;

        --like-button-color: #fff;
        --heart-color: #FF0000;
        --heart-contour-color: #000;
        --text-shadow-color: #fff;

        --from-left-color: #d3d3d3;
        --from-top-color: #e7e7e7;
        --to-bottom-color: #1a1a1a;

        --card-header-variation-font: 'wght' 400;
        --card-body-variation-font: 'wght' 400;
    }
}

/* Остальные стили */
@media (prefers-color-scheme: dark) {
    :root {
        /* Переменные темной темы */
        --text-color: #00CC14;
        --bg-color: #000;

        --like-button-color: #00CC14;
        --heart-color: #FF0000;
        --heart-contour-color: #00CC14;
        --text-shadow-color: #000;

        --from-left-color: #000;
        --from-top-color: #007f0c;
        --to-bottom-color: #004306;

        --card-header-variation-font: 'wght' 785, 'slnt' 0;
        --card-body-variation-font: 'wght' 465, 'slnt' 0;
    }
}
