/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --text-color: #000;
    --bg-color: #fff;

    --like-button-color: #fff;
    --heart-color: #FF0000;
    --heart-contour-color: #000;
    --text-shadow-color: #fff;

    --from-left-color: #d3d3d3;
    --from-top-color: #e7e7e7;
    --to-bottom-color: #1a1a1a;

    --main-font: 'Inter', sans-serif;
    --secondary-font: 'PressStart2P', fantasy;

    --card-header-variation-font: 'wght' 700;
    --card-body-variation-font: 'wght' 400;

    --transition-duration: .3s;
}
